body
{
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	text-shadow: 2pt 2pt 3pt #eeeeee;
	font-size: 48pt;
}

.input
{
	color: #000000;
	width: 150pt;
	font-size: 100%;
	background-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #000000;
	outline: none;
}
